<div class="scroll">
  <div *ngFor="let tick of ticks" style="height: 500px; display: inline">

      <div class="medium" style="height: 25px; position: relative; display: inline"> {{ (tick * zoomLevels[currentZoomIndex]) | formate}}</div>
       <!-- <span class="vl-major"> -->
       <div *ngFor="let minorTick of  minorTicks" style="display: inline">
          <div class="vl-minor" style="margin-top: 50px;"></div>   
       </div>           
       
      </div>
</div>

<div>
  
  <Button (click)="zoomIn()" [disabled]="currentZoomIndex==0">-</Button>
  <Button (click)="zoomOut()" [disabled]="currentZoomIndex==zoomLevels.length-1">+</Button>
  
</div>

<div> Current Zoom Index {{currentZoomIndex}}</div>
<div>Zoom Levels {{ zoomLevels.length-1 }}</div> 
<div> Actual Duration {{ actualDuration | formate }}</div> 
{{ minorTicks | json }}

